@import "../../styles/tokens.scss";

.winners {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px;
  }
  &__list-header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    & > .th {
      padding: 8px 16px;
      color: $color-disable;
      @include text-h6;
      line-height: 16px;
      &_number {
        width: 112px;
        text-align: center;
      }
      &_car {
        width: 144px;
        text-align: center;
      }
      &_name {
        min-width: 180px;
        flex-grow: 1;
      }
      &_wins {
        width: 96px;
        margin-right: 16px;
      }
      &_best-time {
        width: 128px;
      }
      &_wins,
      &_best-time {
        position: relative;
        &::before, 
        &::after {
          content: "";
          position: absolute;
          right: 0;
          margin-left: 8px;
          border-radius: 16px;
        }
        &::before {
          bottom: 3px;
          border: 6px solid transparent; border-top: 6px solid $color-disable;
        }
        &::after {
          top: 3px;
          border: 6px solid transparent; border-bottom: 6px solid $color-disable;
        }
      }
    }
  }
  .DESC,
  .ASC {
    position: relative;
    color: $color-neutral-100;
  }
  .ASC {
    &::after {
      border: 6px solid transparent; border-bottom: 6px solid $color-neutral-100;
    }
  }
  .DESC {
    &::before {
      border: 6px solid transparent; border-top: 6px solid $color-neutral-100;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}


