@import "../../styles/tokens.scss";

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  margin: 0.5px;
  
  border-radius: $br-s;

  cursor: pointer;

  &_close {
    background: url('../../assets/cross.png') 50% 50%/cover  no-repeat, $color-gradient;
  }


  &_bomb {
    background: url('../../assets/explosion.gif') 50% 50%/cover no-repeat, url('../../assets/bomb.png') 50% 50%/cover  no-repeat;
  }

  &_flag {
    background: url('../../assets/flag.png') 50% 50%/cover  no-repeat, $color-gradient;
  }

  &_num {
    background: none;
    color: $color-light-20;
    @include text-m;
    &[data-color='1'] {      
      color: #BB04D9;
    }
    &[data-color='2'] {      
      color: #7684EB;
    }
    &[data-color='3'] {      
      color: #00C2D3;
    }
    &[data-color='4'] {      
      color: #55CA09;
    }
    &[data-color='5'] {      
      color: #ECC200;
    }
    &[data-color='6'] {      
      color: #FF9F01;
    }
    &[data-color='7'] {      
      color: #E8550A;
    }
    &[data-color='8'] {      
      color: #E40048;
    }
  }

  &_large {
    width: 28px;
    height: 28px;
    margin: 1.5px;
    border-radius: $br-m;
  }
  &_medium {
    width: 22px;
    height: 22px;
    margin: 1px;
    border-radius: $br-m;
  }

}
