@import "../../../../styles/tokens.scss";

.editors {
  flex-grow: 1;
  min-height: 240px;
  padding: 16px;
  border-radius: $br-l;
  background-color: $color-neutral-80;
}

.editors-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  border-radius: $br-m;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px 4px 8px;
  & span {
    color: $color-neutral-60;
  }
}
.editor-inner-HTML,
.editor-inner-CSS {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
}
.editor-inner-HTML {
  background-color: $color-neutral-40;
}
.editor-inner-CSS {
  background-color: $color-neutral-100;
}


.counter {
  width: 40px;
  min-height: 100%;
  height: fit-content;
  padding: 8px;

  background-color: $color-neutral-60;
  color: $color-neutral-80;
  @include text-mono;
  text-align: right;
}

.css-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.text-input {
  width: 100%;
  height: 20px;
  padding: 0 8px;
  color: $color-neutral-40;
  animation: bg-anim 1s ease-in-out infinite alternate;

  &::placeholder {
    color: $color-neutral-60;
  }
  &:focus {
    animation: none;
  }
}

@keyframes bg-anim {
  0%{
    background-color: $color-neutral-80;
  }
  100%{
    background-color: $color-neutral-100;
  }
 }

.comment {
  flex-grow: 1;
  width: 100%;
  padding: 0 8px;
  color: $color-neutral-80;
}

.button-bar {
  display: flex;
  column-gap: 8px;
  padding: 0 8px;
}
.button-enter {
  flex-grow: 1;
}
.button-help {
  color: $color-neutral-40;
  background-color: $color-neutral-60;
}

.html-area {
  flex-grow: 1;
  padding: 8px;

  @include text-mono;
  color: $color-neutral-80;
}

.line {
  //style for HTML elements
  &[data-padding="3"] {
    padding-left: 16px;
  }
  &[data-padding="5"] {
    padding-left: 32px;
  }
  &[data-padding="7"] {
    padding-left: 48px;
  }
  &[data-padding="9"] {
    padding-left: 64px;
  }
  & .tag {
    color: $color-brown-60;
  }
  & .classes {
    color: $color-brown-80;
  }
}

.block:hover * {
  color: $color-neutral-80;
}
