@import "../../styles/tokens.scss";

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(75, 207, 158, 0.8);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    padding: 32px 48px;

    min-width: 328px;
    max-width: 558px;
    border-radius: $br-xl;
    background-color: $color-dark-10;    
  }

  &__title {
    color: $color-light-50;
    @include text-l;
    text-align: center;
    &_mini {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__text {
    color: $color-light-50;
    @include text-m;
    text-align: center;
    opacity: 0.8;
  }

  &__button {
    padding: 8px 16px;
    border-radius: $br-l;
    background: $color-gradient;

    color: $color-dark-10;
    @include text-m;

    &:hover {
      color: $color-light-20;
    }
  }

  &_light {
    & .popup__inner {
      background-color: $color-light-80;    
    }  
    & .popup__title {
      color: $color-light-20;
    }
    & .popup__text {
      color: $color-light-20;
    }
  }
}