@import "./reset.scss";
@import "./tokens.scss";

body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  background: $color-neutral-40 url('../assets/bg.png') 50% 0/cover no-repeat;

  @include text-general-reg;
}

h6 {
  @include text-general-bold;
  color: $color-neutral-40;
}

@media (max-width: $bp-10) {
  body {
    background: $color-neutral-40;
  }
}
