@import "./reset.scss";
@import "./tokens.scss";

body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  background-color: $color-neutral-40;

  @include text-general-reg;
}

h6 {
  @include text-general-bold;
  color: $color-neutral-40;
}