@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: local('Georgia'),
         url('../fonts/georgia/georgia-regular.ttf') format("ttf");
}
@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/georgia/georgia-bold.ttf') format("ttf");
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'),
         url('../fonts/arial/arial-regular.ttf') format("ttf");
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial-italic'),
         url('../fonts/arial/arial-italic.ttf') format("ttf");
}



:root {    
    /* Light */
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;

    /* Dark */
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;

    /* Primary */
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
}

/* Breakpoints */
$min-tablet-width: 590px;
$max-mobile-width: 767px;
$min-desktop-width: 960px;
$max-tablet-width: 1279px;



html {    
    scroll-behavior: smooth;
}

@mixin start-screen-gradient-background {
    background: url('../img/noise_transparent@2x.png'), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
    #211F20;
} 
@mixin footer-gradient-background {
    background: url('../img/noise_transparent@2x.png'), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
    #211F20;
} 



@mixin font-h2 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

@mixin font-h3 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    @media (max-width: $max-mobile-width) {
        font-size: 25px;
    }
}


@mixin font-h4 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

@mixin font-h5 {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin font-h5-modal-window {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin font-paragraph-l {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

@mixin font-paragraph-s {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

@mixin font-paragraph-mobile-menu {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
}

@mixin font-logo_title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin font-logo_subtitle {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

@mixin font-button {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

body._lock {
    overflow: hidden;
}


.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 40px 100px;
    @media (max-width: $max-mobile-width) { 
        padding: 42px 10px;
    }
}

.button-rectangle-primary {
    display: inline-flex;
    align-items: center;
    height: 52px;
    padding: 0 45px;
    background-color: var(--color-primary);
    border-radius: 26px;
    color: var(--color-dark-3xl);
    @include font-button();
    cursor: pointer;
    transition: all .5s ease-out;

    &:hover {
        background-color: var(--color-primary-light);
    }
}

.button-rectangle-secondary {
    display: inline-flex;
    align-items: center;
    height: 52px;
    padding: 0 43px;
    border: var(--color-primary) 2px solid;
    border-radius: 26px;
    color: var(--color-dark-3xl);
    @include font-button();
    cursor: pointer;
    transition: all .5s ease-out;

    &:hover {
        background-color: var(--color-primary-light);
        border: var(--color-primary-light) 2px solid;
    }
}

.button-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    border: var(--color-primary) 2px solid;
    border-radius: 50%;
    @include font-h4();
    color: var(--color-dark-3xl);
    cursor: pointer;
    transition: all .5s ease-out;
    & p {
        margin-bottom: 2px;
    }
    &:hover {
        background-color: var(--color-primary-light);
        border: var(--color-primary-light) 2px solid;
    }

    &_active {
        background-color: var(--color-primary);
    }
    &_inactive {
        color: var(--color-dark-s);
        border: var(--color-dark-s) 2px solid;
        cursor: default;  

        &:hover {
            background: none;
            color: var(--color-dark-s);
            border: var(--color-dark-s) 2px solid;
        }
    }
    
}

.link {
    color: var(--color-dark-s);
    @include font-paragraph-l();
    transition: all .3s ease-out;
    &:hover{
       color: var(--color-light-s); 
    }
    &_active{
        color: var(--color-light-s);
        border-bottom: var(--color-primary) solid 3px;
        cursor: default;        
    }
    &-onlight {
        color: var(--color-dark-l);
        &:hover{
            color: var(--color-dark-3xl); 
         }
        &_active{
            border-bottom: var(--color-primary) solid 3px;
            cursor: default;
            &:hover{
                color: var(--color-dark-l);
            }
        }
    }
}


.card-mini {
    background-color: var(--color-light-s);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    cursor: pointer;

    & img {
        width: 270px;
        height: 270px;
        object-fit: cover;
    }
    & h4 {
        color: var(--color-dark-l);
        @include font-h4();
        text-align: center;
        margin: 30px 0;
    }
    &:hover {
        background-color: var(--color-light-xl);
        & .button-rectangle-secondary {
            background-color: var(--color-primary-light);
            border: var(--color-primary-light) 2px solid;
        }
    }
}


.header-main {
    width: 100%;
    position: fixed;
    z-index: 50;
    transition: all .5s ease-out;
    & .wrapper {
        padding: 30px 40px;
        @media (max-width: $min-desktop-width) {
            padding: 30px;        
        }
        @media (max-width: $max-mobile-width) {
            padding: 30px 20px;        
        }
    }
    &_light {
        background-color: var(--color-light-xl);
    }
    
}
.first-empty {
    width: 100%;
    height: 120px;
}
.header-content {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 99;

    & .logo-title {
        color: var(--color-primary);
        @include font-logo_title();
        transition: all .5s ease-out;
    }        
    & .logo-subtitle {
        color: var(--color-light-xl);
        @include font-logo_subtitle();
        margin-top: 10px ;
        margin-left: 5px;
        transition: all .5s ease-out;
    }
    & .header-main__menu-icon {
        display: none;
        height: 30px;
        width: 30px;
            & span, 
            &::before, 
            &::after {
                left: 0;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: var(--color-primary);
            }
            & span {
                top: 13.5px;
            }
            &::before{
                content: "";
                top: 3px;
            }
            &::after{
                content: "";
                bottom: 4px;
            }            
    }
    & .nav-main > ul {
        display: flex;
        column-gap: 35px;
    }
    & .header-main__dimmer {
        position: fixed;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 0;
        background-color: var(--color-dark-3xl);
        opacity: 0;
        z-index: 90;
        transition: opacity 1s;
        &_active {
            top: 0;
            opacity: 0.6;
        }
    
    }

    &_light {
        & .logo-title {
            color: var(--color-dark-l);
        }            
        & .logo-subtitle {
            color: var(--color-dark-3xl);
        }
        & > .header-main__menu-icon {
            & span, 
            &::before, 
            &::after {
                background-color: var(--color-dark-3xl);
            }
        }
    
    }

    @media (max-width: $max-mobile-width) {
        
        & .header-main__menu-icon {
            transition: transform 0.5s ease-out;
            display: block;
            z-index: 101;
            position: relative;            
            &_active {
                transform: rotate(90deg);
            }
        }

        & .nav-main {
            transform: translate(320px);
            transition: transform 0.5s ease-out;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            width: 320px;
            background-color: var(--color-dark-3xl);
            z-index: 100;
            & ul {
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 40px;
                & .link {
                    @include font-paragraph-mobile-menu();
                }
            }
            &_light {
                background-color: var(--color-light-xl);
            }
            &_active {                
                transform: translate(0);               
            }
        }
    }

}


footer {
    @include footer-gradient-background();
    width: 100%;

    & .wrapper{
        padding-top: 40px;
        padding-bottom: 0;

        @media (max-width: $max-tablet-width) {
            padding-top: 30px;
        }
    }
}
.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 65px 30px;

    & .footer-info {
        margin: 16px 0 0;

        & h3 {
            color: var(--color-light-xl);
            @include font-h3();
            max-width: 280px;
        }
        & .icon-text{
            margin-top: 40px;
            display: flex;
            align-items: center;
            &_place {
                margin-top: 32px;
                @media (max-width: $max-mobile-width) {
                    margin-top: 40px;
                }
            }

            & p {
                margin-left: 20px;
                color: var(--color-primary);
                @include font-h4();
            }
        }
    }
    & .footer-img {
        flex-basis: 300px;
        height: 310px;
        background: url('../img/footer-puppy.png') 100% 100%/contain no-repeat;
    }
    @media (max-width: $max-tablet-width) {
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 0;
        & .footer-info {
            margin: 0;
        }
    }
    @media (max-width: $max-mobile-width) {
        row-gap: 40px;
        & .footer-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            & h3 {
                text-align: center;
            }
            & .icon-text_place{
                width: 100%;
            }
        }
        & .footer-img {
            flex-basis: 260px;
            height: 269px;
        }

    }
    
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    top: 0;
    left: 0;
    z-index: 120;
    display: none;

    &__wrapper {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 69px;
    }

    &__content {
        max-width: 900px;
        background-color: var(--color-light-s);
        border-radius: 9px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__close {
        position: absolute;
        top: -52px;
        right: -42px;

    }

    &__photo {
        max-width: 500px;
        min-width: 350px;
        object-fit: cover;
        border-radius: 9px 0 0 9px;
    }

    &__text {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        margin: 50px 25px;
        flex-shrink:1;
    }

    &__pet-name {
        @include font-h3()
    }

    &__pet-type-breed {
        margin-top: 10px;
        @include font-h4();
    }

    &__pet-description {
        margin-top: 40px;
        @include font-h5();
    }

    &__pet-other-props {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__pet-prop{
        margin-left: 14px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 2px);
            left: -14px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--color-primary);
        }
    }

    &__prop-name {
        @include font-h5-modal-window();
    }
    &__prop-value {
        @include font-h5();
    }

    @media (max-width: $min-desktop-width) {
        &__text {
            margin: 10px;
        }
        &__pet-description {
            margin-top: 20px;
            font-size: 13px;
        }
        &__pet-other-props {
            margin-top: 20px;
            row-gap: 5px;
        }
    }
    @media (max-width: $max-mobile-width) {
        &__wrapper {
            margin: 40px;
        }

        &__close {
            right: -30px;
        }
        
        &__photo {
            display: none;
        }

        &__pet-name {
            font-size: 35px;
            text-align: center;
        }
        &__pet-type-breed {
            text-align: center;
        }
        &__pet-description {
            text-align: justify;
        }
        &__pet-other-props {
            margin-top: 24px;
        }
    }

}
