@import "_normalize.scss";
@import "_general.scss";




.hero-banner {
    @include start-screen-gradient-background();
    height: 908px;
    width: 100%;

    & .wrapper {
        padding-top: 180px;
        padding-bottom: 0;
        height: 100%;
    }
    
    @media (max-width: $min-desktop-width) {
        height: 1165px;
        & .wrapper {
            padding-top: 151px;
        }
    }
    @media (max-width: $max-mobile-width) {
        height: 823px;
    }
}
.hero-banner-content {
    display: flex;
    align-items:stretch;
    height: 100%;

    & .hero-banner-text {
        align-self:center;        
        max-width: 460px;
        width: 40%;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;

        & h1 {
            color: var(--color-light-xl);
            @include font-h2();
        }
        & p {
            color: var(--color-dark-s);
            @include font-paragraph-l();
            margin: 42px 0;
        }
        & .button-rectangle-primary {
            align-self: flex-start;
        }

    }
    & .hero-banner-img {
        flex-grow:1;
        background: url('../img/start-screen-puppy.png') 100% 100%/contain no-repeat;
    }

    @media (max-width: $min-desktop-width) {
        flex-direction: column;
        & .hero-banner-text {
            width: 100%;
            max-width: calc(100vw - 308px);
            margin-bottom: 100px;
            & .button-rectangle-primary {
                align-self: center;
            }
        }
        & .hero-banner-img {
            height: 593px;
        }
    }
    @media (max-width: $max-mobile-width) {
        & .hero-banner-text {
            max-width: 100%;
            & h1 {
                @include font-h3();
                text-align: center;
            }
            & p {
                text-align: center;
            }
        }
    }

}

.about {
    background-color: var(--color-light-xl);
    width: 100%;
}
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px 120px;

    & .about-text {     
        width: 430px;

        & h3 {
            color: var(--color-dark-l);
            @include font-h3();
        }
        & p {
            color: var(--color-dark-2xl);
            @include font-paragraph-l();
            margin-top: 25px;
        }
    }
    & .about-img {
        width: 300px;
        height: 408px;
        background: url('../img/about-pets.png') 100% 100%/contain no-repeat;
    }

    @media (max-width: $min-desktop-width) {
        flex-direction: column-reverse;
        & .about-text {     
            width: calc(100vw - 338px);
        }
    }
    @media (max-width: $max-mobile-width) {
        row-gap: 42px;        
        & .about-text {     
            width: 100%;
    
            & h3 {
                text-align: center;
            }
            & p {
                margin-left: 15px;
                margin-right: 15px;
                text-align: justify;
                &:last-child {
                    margin-top: 22px;
                }
            }
        }
        & .about-img {
            width: 260px;
            height: 354px;
        }
    }
}

.ourFriends {
    background-color: var(--color-light-l);
    width: 100%;
    & .wrapper{
        @media (max-width: $min-desktop-width) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (max-width: $max-mobile-width) {
            padding-left: 13px;
            padding-right: 13px;
        }
    }
}
.ourFriends-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & h3 {
        color: var(--color-dark-l);
        @include font-h3();
        text-align: center;
    }    
    & .carousel-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 60px 0;        
        & .button-round {
            flex-shrink:0;
        }
        & .carousel-items-wrapper {
            width: 100%;
            overflow: hidden;
            margin: 0 53px;
            & .carousel-items-conteiner{
                display: flex;
                position: relative;
                left: calc(290px - 100vw);                
                
                & .carousel-slide {
                    display: flex;
                    justify-content: space-between;
                    width: calc(100vw - 290px);
                    column-gap: 10px;
                    flex-shrink:0; 
                    transition: all 1s;
                    
                }
                @media (max-width: $min-desktop-width) {
                    left: calc(270px - 100vw);
                    & .carousel-slide {
                        width: calc(100vw - 270px);
                        & .card-mini:first-child{
                            display: none;
                        }
                    }
                }
                @media (max-width: $max-mobile-width) {
                    left: -100%;
                    & .carousel-slide {
                        justify-content: center;
                        width: 100%;
                        & .card-mini:last-child{
                            display: none;
                        }
                    }
                }

            }
        }
        
    }
    
    @media (max-width: $max-mobile-width) {
        & .carousel-wrapper {   
            margin: 42px 0;      
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 20px;
            
            & .button-round {
                order: 2;

            }
            & .carousel-items-wrapper{                
                order: 1;
                width: 100%;
                margin: 0;
            }                
            }
    }


    & h1 {
        color: var(--color-dark-l);
        @include font-h3();
        text-align: center;
    }
    & .grid-conteiner {
        margin: 60px 0; 
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        grid-gap: 30px 40px;
        @media (max-width: $max-tablet-width) {
            margin: 30px 0 40px;
            padding: 0 64px;
            width: 100%;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2, 435px);
            grid-auto-rows: 0;
            overflow-y: hidden;
        }
        @media (max-width: $min-desktop-width) {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3, 435px);
            height: 1365px;
        }
        @media (max-width: $min-tablet-width) {
            margin: 42px 0;
            padding: 0;
            grid-template-columns: repeat(1,1fr);
        }

    }

    & .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        @media (max-width: $max-tablet-width) {
            margin-bottom: -30px;
        }
        @media (max-width: $min-tablet-width) {
            column-gap: 10px;
            margin-bottom: 0;
        }
    }
}


.help {
    background-color: var(--color-light-xl);
    width: 100%;
}
.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    & h3 {
        color: var(--color-dark-l);
        @include font-h3();
        text-align: center;
    }
    & .help-items-conteiner{
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        gap: 55px 120px;
        width: 100%;
        padding: 0 80px;
        & .help-item {
            display: flex;
            flex-direction: column;
            align-items: center; 
            & p {
                color: var(--color-dark-l);
                @include font-h4();
                text-align: center;
                margin-top: 30px;
            }

        }
        @media (max-width: $max-tablet-width) {
            justify-content: space-around;
            gap: 55px 60px;
            padding: 0 25px;
            & .help-item {
                width: 170px;
            }            
        }
    }
    @media (max-width: $max-mobile-width) {
        row-gap: 42px;
        & .help-items-conteiner {
            padding: 0 5px;
            justify-content: space-between;
            gap: 30px 30px;
            & .help-item {
                width: 130px;
                & > img {
                    width: 50px;
                    height: 50px;
                }
                & p {
                    @include font-h5();
                    margin-top: 20px;
                }
            }   
        }
    }    
}

.donation {
    background-color: var(--color-light-l);
    width: 100%;
}
.donation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px 30px;

    & .donation-text {     
        width: 380px;

        & h3 {
            color: var(--color-dark-l);
            @include font-h3();
        }
        & h5 {
            margin-top: 20px;
            color: var(--color-dark-l);
            @include font-h5();
        }
        & .credit-card{
            margin-top: 20px;
            border-radius: 9px;
            padding: 10px 15px;
            display: inline-flex;
            align-items: center;
            background-color: var(--color-primary);

            & p {
                margin-left: 15px;
                @include font-h4();
                color: var(--color-dark-l);
            }
        }
        & > p {
            color: var(--color-dark-m);
            @include font-paragraph-s();
            margin-top: 20px;
        }

    }
    & .donation-img {
        width: 505px;
        height: 261px;
        background: url('../img/donation-dog.png') 100% 100%/contain no-repeat;
    }

    @media (max-width: $min-desktop-width) {
        flex-direction: column-reverse;
        & .donation-text {     
            width: calc(100vw - 388px);
        }
    }
    @media (max-width: $max-mobile-width) {
        row-gap: 42px;
        & .donation-text {     
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            & h3 {
                text-align: center;
            }
            & h5 {
                line-height: 160%;
                letter-spacing: 0;
                text-align: center;
            }
            & .credit-card{    
                & p {
                    @include font-h5();
                }
            }
            & > p {
                text-align: justify;
                margin: 20px 10px 0;
            }
    
        }
        & .donation-img {
            width: calc(100vw - 60px);
            height: calc(100vw * 135 / 320);
            background-position: center;
        }
    }
}

@keyframes move-left-desk {
    from {left: calc(290px - 100vw)}
    to {left: calc((290px - 100vw) * 2)}    
}
@keyframes move-left-tablet {
    from {left: calc(270px - 100vw)}
    to {left: calc((270px - 100vw) * 2)}    
}
@keyframes move-left-mobile {
    from {left: calc(26px - 100vw)}
    to {left: calc((26px - 100vw) * 2)}    
}


.transition-left {
    animation-name: move-left-desk;
    animation-duration: 1.5s;
    @media (max-width: $min-desktop-width) {
        animation-name: move-left-tablet;
    }
    @media (max-width: $max-mobile-width) {
        animation-name: move-left-mobile;
    }
}

@keyframes move-right-desk {
    from {left: calc(290px - 100vw)}
    to {left: 0px}
}
@keyframes move-right-tablet {
    from {left: calc(270px - 100vw)}
    to {left: 0px}
}
@keyframes move-right-mobile {
    from {left: calc(26px - 100vw)}
    to {left: 0px}
}

.transition-right {
    animation-name: move-right-desk;
    animation-duration: 1.5s;
    @media (max-width: $min-desktop-width) {
        animation-name: move-right-tablet;
    }
    @media (max-width: $max-mobile-width) {
        animation-name: move-right-mobile;
    }
}