@import "../../styles/tokens.scss";

.pagination {
  display: flex;
  align-items: center;
  margin-right: -16px;
  &__text{
    color: $color-neutral-100;
    @include text-general-reg;
    font-size: 24px;
  }
}
