@import "../../../styles/tokens.scss";

main {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;

  width: 100%;
  max-width: $bp-10;
  height: calc(100vh - 148px);

  margin: 0 auto ;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: 100%;
  flex-grow:1;  
}
