@import "../../../styles/tokens.scss";

// <footer>
//         <a href="https://github.com/Illia-Sakharau" class="author">
//           ${gitImg}
//           <span>Illia Sakharau</span>
//         </a>
//         <a href="https://rs.school/js/" class="school">
//           ${schoolLogoImg}
//         </a>
//         <div class="copyright">
//           © 2023
//         </div>
//       </footer>

footer {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  flex-wrap: wrap;

  width: 100%;
}

.author {
  display: flex;
  align-items: center;
  column-gap: 8px;

  min-width: 152px;

  color: $color-neutral-60;

  & svg {
    fill: $color-neutral-60;
  }

  &:hover{
    color: $color-neutral-80;
    & svg {
      fill: $color-neutral-80;
    }
  }

}

.school {
  & svg {
    fill: $color-neutral-60;
    &:hover{
      fill: $color-neutral-80;
    }
  }

}

.copyright {
  display: flex;
  align-items: center;
  justify-content: end;

  min-width: 152px;

  color: $color-neutral-60;
}
