@import "../../styles/tokens.scss";


.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}



.stat-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100vw - 32px) ;
  background-color: $color-dark-10;
  border-radius: $br-l;
  column-gap: 8px;

  padding: 8px;

  &__item {
    display: flex;
    align-items: center;

    padding: 4px;
    border-radius: $br-m;

    background-color: $color-dark-60;

  }

  &__text {
    margin: 0 8px;
    color: $color-light-50;

    @include text-m;
  }

  svg {
    fill: $color-dark-10;
    opacity: 0.5;
  }


}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  
  padding: 8px;

  background-color: $color-dark-10;
  border-radius: $br-l;

  &__line {
    display: flex;
    column-gap: 2px;
  }
}

.area_light {
  .stat-bar {
    background-color: $color-light-50;
    &__item {
      background-color: $color-light-20;  
    }

  }
  .field {
    background-color: $color-light-80;
  }
}