@import "../../styles/tokens.scss";


.top-bar {
  display: flex;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    column-gap: 16px;
  }

  &__icon {
    fill: $color-light-50;

    &:hover {
      fill: $color-light-20;
    }
  }

  &__sound-btn {
    & .top-bar__icon:last-child {
      display: none;
    }
  }
  &__sound-btn_off {
    & .top-bar__icon:first-child {
      display: none;
    }
    & .top-bar__icon:last-child {
      display: block;
    }
  }
  

  &__close-btn {
    display: none;
  }

  @media (max-width: $bp-20) {
    &__close-btn {
      display: block;
    }    
  }




}
